/* HERO */

.about-content .subtitle{
  letter-spacing: 3px;
  color: var(--font-color);
  margin-bottom: .5rem;
  margin-block-end: 20px;
}

.about-content .title{
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--font-color);
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.about-content .title span{ 
  font-size: 2.9rem;
  font-weight: 600; 
}

.hero .section-text:last-of-type { margin-block: 30px; }

.hero .about-content { margin: 40px; }

.hero .about-banner { margin: 20px; }

/* SKILLS */

.skills {
  background-color: var(--background-card);
  padding: 2.5rem 0;
}

.skills-content { margin-bottom: 30px; }

.section-title {
  text-align: center;
  font-size: 3.2rem;
}

.skills-toggle {
  background: var(--background);
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  position: relative;
  width: max-content;
  margin-inline: auto;
  display: flex;
  align-items: center;
  padding: 5px;
  z-index: 1;
  cursor: pointer;
}

.skills-toggle::before {
  content: "";
  position: absolute;
  background-color: var(--background-card);
  border: 1px solid var(--background-light);
  box-shadow: var(--shadow);
  border-radius: 4px;
  top: 5px;
  left: 5px;
  bottom: 5px;
  width: 90px;
  transition: var(--transition-2);
  z-index: -1;
}

.skills-toggle.active::before {
  left: 98px;
  width: 80px;
}

.toggle-btn {
  color: var(--font-color-light);
  font-family: var(--body-font);
  padding: 5px 25px;
  transition: var(--transition-2);
}

.toggle-btn.active { 
  color: var(--font-color); }

.skills-box.active .skills-list,
.skills-box .tools-list { display: none; }

.skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-list{ 
  padding-left: 5rem;
  padding-right: 5rem;
}

.skills-box .skills-list,
.skills-box.active .tools-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.skill-card {
  position: relative;
  width: 80px;
  height: 80px;
  display: grid;
  place-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.skill-card:hover .tooltip {
  transform: translateY(0);
  opacity: 1;
}

.card-icon img{
  width: 50px;
  height: 50px;
}

.card-icon {
  background-color: var(--background);
  border-radius: 4px;
  border: 1px solid var(--background-light);
  box-shadow: var(--shadow);
  padding: 0.25em 0.5em; 
  transition: 0.5s;
  cursor: pointer;
}

.card-icon:hover {
  transform: translateY(-10px);
  border: 1px solid #3c3c3c;
}

.card-icon:is(:hover, :focus-visible) {box-shadow: none;}

.card-icon .card-title { font-size: 1rem; }

.card-icon .card-text {
  font-size: 1rem;
  line-height: 1.8;
  margin-block: 20px 45px;
}

/* INFO */

.info { 
  padding-block: 50px;
}

.info-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info-container .info-box {
  position: relative;
  width: 350px;
  padding: 40px;
  margin: 20px;
  overflow: hidden;
  text-align: center;
  background-color: var(--background-card);
  border-radius: 4px;
  border: 1px solid var(--background-light);
  box-shadow: var(--shadow);
  transition: .5s;
}

.info-box:hover {
  transform: translateY(-10px);
  border: 1px solid #3c3c3c;
}

.info-container .info-box .info-content {
  position: relative;
  z-index: 1;
  transition: 0.5s;
}

.info-container .info-box .info-content h3{
  font-size: var(--h2-font-size);
  margin: 10px 0;
  padding: 0;
  color: var(--font-color-light);
}

.section-text{
  margin: 0;
  padding: 0;
  font-size: var(--h3-font-size);
}

.section-text span{
  color: var(--font-color-lightest);
}

/* MEDIA QUERIES */

@media (max-width: 768px){

.hero {
  flex-direction: column;
}

.hero .content {
  align-items: center;
  text-align: center;
}

}

@media (min-width: 992px){

:is(.hero) .hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
}

}

@media (min-width: 1200px){

.hero {
  padding: 5% 5%;
  padding-top: 100px;
}

}